@if (recipe) {
<div class="recipe-detail">
  <h1 class="main-title">{{ recipe.name }}</h1>
  <img [src]="recipe.image" [alt]="recipe.name" class="recipe-image" />
  <div class="recipe-info">
    <div class="ingredients">
      <h2 class="recipe-info-title">Ingredients</h2>
      <ul>
        @for (ingredient of recipe.ingredients; track ingredient.name) {
        <li>
          {{ ingredient.quantity }} {{ ingredient.unit }} {{ ingredient.name }}
        </li>
        }
      </ul>
    </div>

    <div class="instructions">
      <h2 class="recipe-info-title">Instructions</h2>
      <ol>
        @for (instruction of recipe.instructions; track instruction) {
        <li>{{ instruction }}</li>
        }
      </ol>
    </div>
  </div>
</div>
} @else {
<div class="loading">Loading recipe...</div>
}
