header {
  background: #fbf9f8;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;

  .nav {
    max-width: 50rem;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;

    button {
      white-space: nowrap;
    }

    @media (max-width: 640px) {
      flex-direction: column;
      width: 100%;

      button {
        width: 100%;
        padding: 0.75rem;
      }
    }
  }
}
