<h1 class="main-title">Recipes</h1>
<div class="recipe-container">
  @for (recipe of recipes; track recipe.id) {
  <div class="recipe-card">
    <img [src]="recipe.image" class="recipe-image" [alt]="recipe.name" />
    <div class="recipe-desc-card">
      <h2 class="recipe-title">{{ recipe.name }}</h2>
      <button
        class="btn-recipe-container"
        style="margin-top: 2rem"
        (click)="navigateToRecipe(recipe.id)"
      >
        Show Recipe
      </button>
    </div>
  </div>
  }
</div>
<div class="show-more-container">
  @if (!showAll) {
  <button id="show-more" class="btn-recipe-container" (click)="showMore()">
    Show more
  </button>
  } @else {
  <button id="show-more" class="btn-recipe-container" (click)="showLess()">
    Show less
  </button>
  }
</div>
