<h1 id="main-title">Edit Recipes</h1>
<div id="recipe-container">
  @for (recipe of recipes; track recipe.id) {
  <div class="recipe-card">
    <img [src]="recipe.image" class="recipe-image" [alt]="recipe.name" />
    <div class="recipe-desc-card">
      <h2 class="recipe-title">{{ recipe.name }}</h2>
      <button (click)="navigateToRecipe(recipe.id)">Edit Recipe</button>
    </div>
  </div>
  }
</div>
<div class="show-more-container">
  @if (!showAll) {
  <button id="show-more" (click)="showMore()">Show more</button>
  } @else {
  <button id="show-more" (click)="showLess()">Show less</button>
  }
</div>
